table
{
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

th
{
    background-color: navy;
    color: white;
    padding: 10px;
}

td
{
    padding: 10px;
    border: 1px solid white;
}

tbody tr:nth-child(even)
{
    background-color: rgba(255, 255, 255, 0.2);
}